alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

alias ll='ls -la'
alias tlf='tail -f'
alias fn='find . -name'
alias be='bundle exec'

alias flushdns='sudo killall -HUP mDNSResponder'

function mcd() { mkdir -p "$@" && cd "$@"; }

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"

# runs given docker container with /bin/bash
function drun() { docker run -i -t --rm "$@" /bin/bash; }

# Pretty prints json as response, example: wget … | ppjson
alias ppjson="ruby -r json -e 'jj JSON.parse gets'"

# Fix SSL Problems with ruby??
alias fix_ruby_ssl="curl -fsSL curl.haxx.se/ca/cacert.pem -o \"$(ruby -ropenssl -e 'puts OpenSSL::X509::DEFAULT_CERT_FILE')\""

# Makes videos small
function mp4reduce() { ffmpeg -i "$@".mp4 -c:v libx264 -preset veryfast "$@"-2.mp4; }

# Count files recursively in dir
function count_files() { find "$@" -type f | wc -l; }

alias xingvpn="openvpn --config ~/xing.ovpn"
