alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ......='cd ../../../../..'

alias ll='ls -la'
alias tlf='tail -f'
alias fn='find . -name'

function mcd() { mkdir -p "$@" && cd "$@"; }
