[user]
  name =
  email =
[push]
  default = current
[color]
  ui = auto
[alias]
  br = branch
  ci = commit
  co = checkout
  st = status
  d  = diff
  l  = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
  ll = log --stat --abbrev-commit
